html, body, h1, h2, h3, h4, h5, h6, a, img, ul, li, form, article, footer, header, main, nav, section, button{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Oswald, sans-serif;
}
#portafolios figure figcaption, #portafolioswork figure figcaption, #header, #div2, #div4, #modal, #modal a, .divtextoblog{
	top: 0;
}
#portafolios figure figcaption, #portafolioswork figure figcaption, #header, #modal, .divtextoblog, .fechablog::after{
	left: 0;
}
a, #hireme, #botontexto a, #about h1, #navigation h1, #contacts h1, #follow h1, #email2, #links2 p a, .bt01, #serviciosprofesionales div h3, #hijodecontactatework div h1, #follow ul li a i{
	color: black;
}
a, #hireme, #botoncontactate, #botontexto a, #navigation ul li, #email2, #links2 p a{
	text-decoration: none;
}
img{
	max-width: 1900px;
}
li{
    display: inline;
}
#carruselprincipal article div p, #carruselprincipal article div p a, #serviciosprofesionales div p, #clave article p,.parrafodeportafolio, #serviciosprofesionales h3, #tituloysubtitulo h3, #footer1, #footer2, #contacts ul li, #hijodecontactate div h4, #hijodecontactatework div h4, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #textodetestimonio, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, #links ul li a h4, #links p, #links p a, #notificacion h5, #about p, #navigation ul li a, .textosdecontacts, #links2 p, #links2 p a, #div1 article p, #textodeplantilla, #comentariosdelvideo h2, #comentariosdelvideo h3, .textoblog2 h3{
	font-family: Karla, sans-serif;
}
img, header, #serviciosprofesionales, #portafolios article figure, #portafolios article figure, #portafolios figure figcaption, #portafolioswork figure figcaption, #portafolios figure img, #portafolioswork figure img, #testimonios, #testimonioswork, .publicacionesrecientes, #divgeneral, #notificacion form, #modal, #modal div iframe,.articulosdelfooter, #imagenwork, #divdeportafolios{
	width: 100%;
}
#clave, .textoblog2{
	width: 80%;
}
.imagenesdecliente, #notificacion form input{
	width: 70%;
}
#carruselprincipal article div, #hijodecontactate, #hijodecontactatework, #hijoimagenwork, #about, #contacts, #divsdetestimonio{
	width: 60%;
}
#informacion, #exito, #div1, #div3, #div4, #about img, #footer2, .numerosenporcentaje, .publicacionessecundariasprimero article div, .publicacionessecundariassegundo article div{
	width: 50%;
}
.publicacionessecundariasprimero article img, .publicacionessecundariassegundo article img, #navigation, #botonesdelcarrusel div button img, #follow, #play{
	width: 40%;
}
#titulo, #serviciosprofesionales div, #serviciosprofesionales div div img{
	width: 30%;
}
#titulo button img, #imagendelvideo, #navigation ul, .botonenviar button{
	width: 25%;
}
#contacts ul li i{
	width: 10%;
}
#carruselprincipal, #div2{
	height: 100vh;
}
#divheader, #carruselprincipal article, #botonesdelcarrusel, #porcentaje, #porcentaje article, .numerosenporcentaje, #clave, #portafolios, #portafolioswork, #divdeportafolios, #imagencontactate, #imagencontactatework, #testimonios, #testimonioswork, #divsdetestimoniowork article, #divsdetestimonio article, .imagenesdetestimonio, #imagendelcliente, #ulcliente, #divgeneral, #titulodepublicaciones, #footer1, #direcciondecorreo, #sectiongeneral, .articulosdelfooter, #contacts ul li, #articleblog, #divgrandeblog, .divtextoblog, #divblog, .botonenviar button{
	display: flex;
}
#divheader div, #intro, #intro2, #redessociales, #serviciosprofesionales div, #clave article img, .divsdelcliente, .publicacionessecundariasprimero, .publicacionessecundariassegundo, .publicacionessecundariasprimero article img, .publicacionessecundariassegundo article img, .imagenesespeciales, .fotografia, .diseno, .travel, #links ul li, .textoblog2 h3{
	display: inline-block;
}
#hijoverdadero, #botonesdelcarrusel div button img, #titulo button img, #modal.abrir, #footer2, #portafolios figure:hover figcaption, #portafolioswork figure:hover figcaption, .sectionespecial{
	display: block !important;
}
#menuportable, #informacion2, #viajeblog, #fotografiablog, #disenoblog, #seccionwmp, #portafolios figure figcaption, #portafolioswork figure figcaption, #modal{
	display: none;
}
.paginasdecliente, .publicacionessecundariasprimero, .publicacionessecundariassegundo, #modal a, #formcontactme, .botonenviar button{
	padding: 1em;
}
#carruselprincipal article div, #tituloysubtitulo, #hijodecontactate, #hijodecontactatework, #imagendelcliente div, #botonesdelcarrusel div button img, #titulo button img, #formcontactme, #notificacion, #portafolios, #portafolioswork{
	margin: 0 auto;
}
#carruselprincipal article div h1, #carruselprincipal article div p, .numerosenporcentaje, #porcentaje article h3, #porcentaje article div p, #portafolios h1, #portafolioswork h1, .palabrasdentro, #hijodecontactate div h1, #hijoimagenwork div h1, #imagendelcliente div h1, .fotografia, .diseno, .travel, #boton, #boton2, #botoncontactate, .ultimoboton img, #inputespecial img, #links ul li a h3, #links p a, #direcciondecorreo, #direcciondecorreo div h2, #notificacion h5, #notificacion form input, #hireme:hover, #botonesdelcarrusel div button:hover, #links ul li a h4:hover, #botontexto a:hover, .botonenviar button, .divblog, #div4 ul li a i, .bt03, #h1testimoniowork, .nombredetestimoniowork, #modal a{
	color: #fff;
}
header, #titulo button, #links2, #hireme, #botonesdelcarrusel div button, #modal div, #intro3 ul{
	background-color: #fff;
}
#divheader, #carruselprincipal article, #imagencontactate, #imagencontactatework, #imagenwork, #imagendelcliente, #contacts ul li, #clave, #porcentaje, .numerosenporcentaje, #divgeneral, #porcentaje article, .botonenviar button{
	align-items: center;
}
#carruselprincipal article div, #serviciosprofesionales, #serviciosprofesionales div, #porcentaje article h3, #tituloysubtitulo, #portafolios figure figcaption, #portafolioswork figure figcaption, .subtitulosdeportafolio,#hijodecontactate, #hijodecontactatework, #titulo, #imagendelcliente div, #botoncontactate, #modal div, #contacts ul li i{
	text-align: center;
}
#carruselprincipal article, #porcentaje article, .numerosenporcentaje, #imagencontactate, #imagencontactatework, #imagenwork, #imagendelcliente, #divgeneral, .botonenviar button{
	justify-content: center;
}
#footer1, #direcciondecorreo, #footer2{
	align-content: center;
}
#clave article h1, #tituloysubtitulo h2, #hijodecontactatework div h1, #hijoimagenwork div h1, #hijodecontactate div h1, #titulo h1, #imagendelcliente div h1, #titulodepublicaciones h1{
	line-height: 44px;
}
#nombredetestimonio, #textodetestimonio, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, #direcciondecorreo div h2, #carruselprincipal article div p{
    line-height: 28px;
}
#hireme, #porcentaje article h3, #clave, .extras, .palabrasdentro, #hijodecontactate div p, #hijoimagenwork div p, #hijodecontactatework div p, #serviciosprofesionales div p, .bt01, #botoncontactate, #div1 article p, #textodeplantilla, #botontexto a, #clave article p{
	line-height: 24px;
}
.fotografia, .diseno, .travel, #links ul li a h3, #notificacion h5, #about h1, #navigation h1, #contacts h1, #follow h1, .textosdelfooter, #navigation ul li, .textosdecontacts, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, .textosdecontacts2, #email2, #comentariosdelvideo h2, .textoblog2 h3{
	line-height: 20px;
}
#tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4, #links2 p{
	line-height: 16px;
}
#intro, #intro2, #hireme,  #serviciosprofesionales h3, #porcentaje article h3, #clave article h1, #tituloysubtitulo h3, #tituloysubtitulo h2, .extras, .palabrasdentro, #hijodecontactate div h4, #hijodecontactatework div h4, #hijodecontactate div h1, #hijodecontactatework div h1, #hijoimagenwork div h1, #titulo h1, #nombredetestimonio, #imagendelcliente div h1, #titulodepublicaciones h1, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, #botoncontactate, #links ul li a h3, #direcciondecorreo div h2, #notificacion form input, #div1 article h1, #botontexto a, #about h1, #navigation h1, #contacts h1, #follow h1, .textoblog2, .textoblog2 h3, #intro ul li a, #intro2 ul li a, .buttoncontactme, #carruselprincipal article div h4, #intro3 ul li{
	text-transform: uppercase !important;
}
#links p, #notificacion h5, #intro, #intro2, #intro ul li, #intro2 ul li, #serviciosprofesionales h3, #tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4, #links2 p{
	font-size: 12px;
}
.parrafodeportafolio, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, #links ul li a h4, #about p, #navigation ul li, .textosdecontacts,.textosdecontacts2, #email2, #bt02, .bt04, #comentariosdelvideo h2, #comentariosdelvideo h3{
	font-size: 13px !important;
}
#hireme, .bt01, #serviciosprofesionales div p, #clave article p, #hijodecontactate div p, #hijoimagenwork div p, #hijodecontactatework div p, #botoncontactate, #links ul li a h3, #notificacion form input, #div1 article p, #textodeplantilla, #botontexto a, #about h1, #navigation h1, #contacts h1, #follow h1, #articleblog nav ul li{
	font-size: 16px !important;
}
#carruselprincipal article div h4, #carruselprincipal article div p, .extras, .palabrasdentro, #textodetestimonio, #porcentaje article h3, #comentariosdelvideo h1{
	font-size: 18px !important;
}
#nombredetestimonio, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, #direcciondecorreo div h2, .ultimoboton img, #inputespecial img{
	font-size: 23px;
}
#serviciosprofesionales div h3, #porcentaje article div p, .textoblog2 h2, #serviciosprofesionales div div img{
	font-size: 28px;
}
#serviciosprofesionales h2, #clave article h1, #tituloysubtitulo h2, #hijodecontactate div h1, #hijoimagenwork div h1, #hijodecontactatework div h1, #titulo h1, #imagendelcliente div h1, #titulodepublicaciones h1, #modal a{
	font-size: 36px;
}
#carruselprincipal article div h1, #porcentaje article div p, #clave article h1, #tituloysubtitulo h2, .extras, .palabrasdentro, #hijodecontactate div h1, #hijoimagenwork div h1, #hijodecontactatework div h1, #titulo h1, .fotografia, .diseno, .travel, #nombredetestimonio, #imagendelcliente div h1, #titulodepublicaciones h1, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, #links ul li a h3, #direcciondecorreo div h2, #div1 article h1, #about h1, #navigation h1, #contacts h1, #follow h1, #formcontactme ul div li input, #descripcion, .textoblog2 h2, #serviciosprofesionales div h3, #serviciosprofesionales h2{
	font-weight: 500;
}
#titulo h1, #articleblog h1{
	font-weight: 600;
}
#tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4{
	color: #bbb;
}
#comentariosdelvideo h3, #tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4, .textoblog2 h3{
	font-weight: 700;
}
#porcentaje article h3, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, .botonenviar, #clave article img{
	padding-top: 1em;
}
#serviciosprofesionales div div, #hijodecontactate div, #hijodecontactatework div, #hijoimagenwork div, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, #textodeplantilla, #about h1, #navigation h1, #contacts h1, #follow h1{
	padding-bottom: 1em;
}
#serviciosprofesionales div p, #clave article p, .parrafodeportafolio, #textodetestimonio, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, #div1 article p, #textodeplantilla, #about p, #navigation ul li, .textosdecontacts, .textosdecontacts2, #comentariosdelvideo h2, #comentariosdelvideo h3, #hijodecontactatework div p, #redessociales ul li a i, #intro3 ul li a{
	color: #777;
}
.bt01, #hireme, #intro ul li, #intro2 ul li, #redessociales ul li, #botonesdelcarrusel div button, #titulo button, #titulo button, #boton, #boton2, #portafolios article figure, #portafolioswork article figure, #botoncontactate, #links ul li, a, #links p a, #modal a, #email2, .botonenviar:hover, #comentariosdelvideo div, #play, #comentariosdelvideo h1, #comentariosdelvideo h2, #comentariosdelvideo h3, #intro3 ul li{
	cursor: pointer;
}
#intro ul li:hover, #intro2 ul li:hover, #redessociales ul li:hover, .paginasdecliente:hover, #boton, #botoncontactate, #navigation ul li:hover, #notificacion form input:hover, #div4 ul li:hover, #follow ul li:hover{
	opacity: 1;
}
#boton, #boton2:hover, #botoncontactate, .ultimoboton, #div4 ul li:hover, #follow ul li:hover, .botonenviar button, #comentariosdelvideo div{
	background-color: #faaf52;
}
#carruselprincipal article div h4, #carruselprincipal article div p a, #div1 article h3{
	color: #faaf52;
}
#links p a:hover, #navigation ul li:hover, #links2 p a:hover, #email2:hover{
	text-decoration: underline;
}
#botonesdelcarrusel div button, #formcontactme ul div li input, #descripcion, .botonenviar button{
	border: none;
}
#formcontactme ul div li input, #notificacion form input, #descripcion, .botonenviar button, #boton2:hover, #botonesdelcarrusel div button, #titulo button, #titulo button{
	outline: none;
}
.textoblog2 h3, #tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4, .fotografia, .diseno, .travel, #intro3 ul li a{
	letter-spacing: 1px;
}
header, #div2, #div4, #modal{
	position: fixed;
}
#redessociales ul li, #portafolios article figure, #portafolioswork article figure, #comentariosdelvideo h3, .textosdecontacts, .textosdecontacts2, #email2{
	margin: 0 !important;
}
#hireme, .bt01, .bt03, #botonesdelcarrusel div button, #botontexto a, #div4 ul li, #follow ul li, #formcontactme ul div li input, #descripcion, .divchicoimagenblog img{
	transition: 500ms ease-out;
}
#porcentaje, #portafolios, #portafolioswork, #direcciondecorreo, #divgrandeblog{
	flex-wrap: wrap;
}
#portafolios article figure, #portafolioswork article figure, .publicacionessecundariasprimero, .publicacionessecundariassegundo, .divblog, .divchicoimagenblog, #div1{
	position: relative;
}
#portafolios figure figcaption, #portafolioswork figure figcaption, .publicacionessecundariasprimero article div, .publicacionessecundariassegundo article div, #modal div, #modal a, .divtextoblog, .fechablog::after{
	position: absolute;
}
#portafolios figure img, #portafolioswork figure img, #imagendelvideo, #modal div iframe{
	object-fit: cover;
}
/*MODO OSCURO*/
.oscuro, body.oscuro #footer2 #links2 p, body.oscuro #formcontactme input, body.oscuro #descripcion, body.oscuro #divheader2 #intro3 ul{ 
	background-color: #1f1f1f; 
}
.btn-btn-dark{
	width: 1.5em;
    border-radius: 1em;
    height: 1.5em;
    background-color: #1f1f1f;
}
.btn-btn-dark img{
	width: 50%;
    filter: invert(1);
    margin: 0 auto;
    display: block;
}
.oscuro, body.oscuro #footer2 #links2 p, body.oscuro #formcontactme input, body.oscuro #descripcion, #header.oscuro a, #header.oscuro i, body.oscuro #serviciosprofesionales h3, body.oscuro .bt01, body.oscuro .extras, body.oscuro #imagencontactatework h1, body.oscuro #footer2 h1, body.oscuro #footer2 #links2 p a, #hireme.oscuro, body.oscuro #botontexto a{
	color: #fff;
}
body.oscuro #serviciosprofesionales p, body.oscuro #clave p, body.oscuro #textodetestimonio, body.oscuro .publicacionesrecientes p, body.oscuro .parrafodeportafolio, body.oscuro #imagencontactatework h4,body.oscuro #imagencontactatework p, body.oscuro #div1 p, body.oscuro #div1 h2, body.oscuro #footer2 li a, body.oscuro #footer2 #contacts li p, body.oscuro #footer2 #links2 p, body.oscuro #divheader2 #intro3 li a{
	color: #bdbcbc !important;
}
#header.oscuro img, #intro ul li.oscuro, #intro2 ul li.oscuro, body.oscuro #serviciosprofesionales img, body.oscuro #clave img, body.oscuro #testimonios button img, body.oscuro #footer2 img, body.oscuro #footer2 #follow a i, body.oscuro #footer2 #follow a i:hover{
	filter: invert(1) !important;
}
#hireme.oscuro, body.oscuro #botontexto a{
	border-left:2px solid #faaf52;
    padding: 0.8em 2em;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #1f1f1f 50%, #faaf52 50%) right !important;
    background-size: 200% !important;
}
#hireme.oscuro:hover, body.oscuro #botontexto a:hover{
    background-position: left !important;
}
body.oscuro #serviciosprofesionales img{
	border-bottom: 3px solid #0550ad;
}
#header.oscuro #redessociales ul li:hover{
	filter: invert(0) !important;
}
body.oscuro .bt01{
	border-bottom: 2px solid #fff !important;
}
body.oscuro .bt01:hover {
	color: #faaf52;
    border-bottom: 2px solid #faaf52 !important;
}
body.oscuro #porcentaje article{
	border-left: 1px solid #1f1f1f;
}
body.oscuro #circuloespecial{
	border-left: none;
}
/*HEADER*/
header{
	height: 12.1vh;
	box-shadow: 1px 1px 5px #ddd;
	z-index: 999999;
}
#divheader{
	transform: translate(0px, -4px);
}
#divheader2{
	display: none;
}
/*LOGO*/
#divheader div{
	width: 3.9%;
    margin: 0 0.5em;
}
/*INTRO*/
#intro, #intro2{
	padding: 0 50em 0 2em;
	letter-spacing: 2px;
	text-align: justify;
}
#intro ul li, #intro2 ul li, #redessociales ul li{
	margin: 1em;
	opacity: 0.5;
    transition: opacity 400ms ease;
}
/*REDES SOCIALES*/
#redessociales ul{
	padding: 2em;
}
#redessociales ul li{
	padding-right: 1em;
}
#redessociales ul li:hover{
	filter: hue-rotate(0) saturate(0) brightness(0);
}
#hireme, #botontexto a{
    border-left:2px solid #faaf52;
    padding: 0.8em 2em;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #fff 50%, #faaf52 50%) right;
    background-size: 200%;
}
#botontexto a:hover, #hireme:hover{
    background-position: left;
}
/*MAIN*/
#carruselprincipal, #porcentaje{
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.6), rgba(60, 60, 60, 0.2)), url("../imagenes/lago.jpg"), linear-gradient(90deg, #40424b, #1c1d24);
    background-position: 0px 0px, 50% 50%, 0px 0px;
    background-size: auto, cover, auto;
	background-repeat: repeat, no-repeat, repeat;
}
#carruselprincipal article div{
	margin: 3em auto 0;
}
#carruselprincipal article{
	height: 88.9vh;
}
#botonesdelcarrusel{
	text-align: right;
	float: right;
}
#carruselprincipal article div h1{
	font-size: 72px;
}
#carruselprincipal article div p{
	margin-bottom: 3em;
}
#carruselprincipal article div p a{
	transition: 400ms ease-out;
	box-shadow: 0 1px 0 0 #faaf52;
}
#carruselprincipal article div p a:hover{
	box-shadow: 0 2px 0 0 #faaf52;
}
#serviciosprofesionales{
	padding: 7.5em 0;
}
#serviciosprofesionales h3{
	color: #bbb;
}
#serviciosprofesionales h2{
	padding: 0.3em 0 2em 0;
}
#serviciosprofesionales div h3{
	font-family: Oswald, sans-serif;
}
#serviciosprofesionales div, #articleblog nav ul li{
	padding: 0 1em;
}
#serviciosprofesionales div div img{
	border-bottom: 3px solid #faaf52; 
	padding-bottom: 0.25em;  
}
#serviciosprofesionales div p{
	width: 92%;
	padding: 0.5em 0 0.5em 1.3em;
}
#porcentaje{
	height: 60vh;
	background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.6), rgba(17, 17, 17, 0.6)), url(../imagenes/libroyte3.png), linear-gradient(90deg, #40424b, #1c1d24);
	background-attachment: scroll, fixed, scroll;
	justify-content: space-between;
}
#links ul li, #porcentaje article{
    width: 24%;
}
#porcentaje article{
	flex-direction: column;
	border-left: 1px solid #fff;
    height: 100%;
}
#circuloespecial{
	border-left: none !important;
}
.numerosenporcentaje{
	height: 10em;
	border: 2px solid #000000;
	border-radius: 6em;
}
#porcentaje article:first-child .numerosenporcentaje{
	border: 4px solid #faaf52;
}
#porcentaje article:nth-child(2) .numerosenporcentaje{
	border: 4px solid #ee4869;
}
#porcentaje article:nth-child(3) .numerosenporcentaje{
	border: 4px solid #6165f4;
}
#porcentaje article:nth-child(4) .numerosenporcentaje{
	border: 4px solid #22c8e1;
}
#porcentaje article div p, .textoblog2 h2{
    line-height: 36px;
}
.textoblog2 h2{
	margin-top: 10px;
}
#clave{
	margin: 7.5em auto;
}
#informacion{
	padding-right: 4em;
}
#clave article img{
	width: 45%;
}
#exito{
	background-image: url("../imagenes/sentadocamara.jpg");
	padding-right: 10.5em;
	height: 70vh; 
	background-size: contain;
}
#portafolios, #portafolioswork{
	padding: 7.5em 0 7.5em;
	width: 75em;
}
#portafolios{
	padding: 0 0 7.5em;
}
#portafolios article, #portafolioswork article{
	width: 32%;
	margin: 1%;
}
#portafolioswork article{
	width: 31.3346338272%;
}
#portafolios article figure, #portafolioswork article figure{
	margin: 0;
	overflow: hidden;
}
#portafolios figure figcaption, #portafolioswork figure figcaption{
	background: rgba(25,25,25,0.2);
	height: 75.5%;
}
#portafolios figure img, #portafolioswork figure img{
	height: 18em;
	transition: transform 900ms ease;
}
#portafolios figure:hover img, #portafolioswork figure:hover img{
	transform: scale(1.02);
}
#portafolios h1, #portafolioswork h1{
	padding: 8em 0 0 2em;
}
#divdeportafolios{
    height: 20em;
}
.divdeportafoliosespecial{
	display: contents !important;
}
#tituloysubtitulo h2{
	padding: 0.5em 0 2em;
}
#imagencontactate, #imagenwork, #testimonioswork, #imagendelcliente{
	background-image:url(../imagenes/hombregrabando3.png);
	background-size: cover;
	height: 80vh;
	background-attachment: fixed;
}
#imagenwork{
	height: 55vh;
    background-position: 0 -8em;
}
#hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p{
	color: hsla(0, 0%, 100%, 0.7) !important;
	padding: 0 6.5em;
}
#hijodecontactatework div p{
	color: #777 !important;
}
#titulo{
	margin-top: 9.5em;
	padding-bottom: 7em;
}
#divsdetestimonio{
	margin-bottom: 5em;
}
#divsdetestimoniowork{
	margin-bottom: 0;
	width: 44%;
}
#titulo h1{
	padding-bottom:2.2em;
}
#divsdetestimoniowork article, #divsdetestimonio article{
	padding: 9.5em 0 0 3em;
}
.divimagenesdetestimonio, .divimagenesdetestimoniowork{
	padding: 1em 2em 0.65em;
	background-image: url("../iconos/avatar-border-color.svg");
	background-size: 5em;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}
.divimagenesdetestimoniowork{
	background-image: url("../iconos/avatar-border_blanco.svg");
}
.divimagenesdetestimonio img, .divimagenesdetestimoniowork img{
	width: 4em;
    height: 4em;
    border-radius: 3em;
}
#imagendelcliente{
	background-image: url(../imagenes/cafeteria2.jpg);
	height: 67vh;
}
#imagendelcliente div{
	width: 75%;
}
#imagendelcliente div h1, #hijodecontactatework div h4{
	padding-bottom: 2em;
}
.divsdelcliente{
	width: 16.5%;
}
.paginasdecliente{
	transition: opacity 300ms ease;
}
#div4 ul li, #follow ul li, #email2, .paginasdecliente{
	opacity: 0.6;
}
#titulodepublicaciones{
	justify-content: space-between;
	padding: 9em 6em 0;
}
#divgeneral{
	height: 70vh;
	padding-bottom: 9em;
}
.publicacionessecundariasprimero, .publicacionessecundariassegundo{
	margin: 0 1em 0 auto;
    width: 39%;
	border: 1px solid #ddd;
}
.publicacionessecundariassegundo{
	margin: 0 auto 0 1em;
}
#primeroespecialpadding{
	padding: 1.15em 1em;
}
#articulopublicaciones{
	padding: 0.05em 0;
}
.publicacionessecundariasprimero article div, .publicacionessecundariassegundo article div{
    top: 45px;
    padding-left: 16em;
}
.fotografia, .diseno, .travel{
	padding: 0.5em;
    font-size: 10px;
}
.fotografia{
	background-color: #6165f4;
}
.diseno{
	background-color: #fb406c;
}
.travel{
	background-color: #00c8e3;
}
.imagenesespeciales{
	width: 38.2% !important;
}
#divbt01{
	padding: 1em 0 0 0.3em;
}
#bt02, .bt04{
	padding-top: 1.5em !important;
	transform: translate(0px, -8px) !important;
}
.bt04{
	text-transform: none;
}
.bt01{
	border-bottom:2px solid #ddd;
}
.bt01:hover{
	border-bottom:2px solid #111;
}
.bt03{
	border-bottom:2px solid hsla(0, 0%, 100%, 0.2);
}
.bt03:hover{
	border-bottom:2px solid hsla(0, 0%, 100%, 1);
}
#boton, #boton2, #botoncontactate #boton2:hover, #div4 ul li:hover, #follow ul li:hover{
	border: 1px solid #faaf52;
}
#boton, #boton2, #botoncontactate{
	border-bottom: none;
	padding: 0.7em;
	margin: 0.4em;
	transition: color 400ms ease, background-color 400ms ease;
}
#titulo button, #notificacion form input, #boton2{
	background-color: transparent;
}
#boton2{
	border: 1px solid #fff;
}
#botonesdelcarrusel div button{
    width: 74px;
	height: 74px;
	box-shadow: inset 0 0 0 0 #fff;
}
#botonesdelcarrusel div button:hover, #div4 ul li:hover, #follow ul li:hover{
	background-position: bottom;
	box-shadow: inset 0 -74px 0 0 #faaf52;
}
#flechaespecial{
	transform: translate(4px, 0);
}
#titulo button, #titulo button{
	border: 2px solid #ddd;
	width: 6em;
	height: 3em;
}
.flechaespecial{
	transform: translate(6px, 0) !important;
}
#links{
    background-color: #363840;
	width: 67%;
}
#links ul, #links p{
	padding-left: 12%;
}
#links ul li a h3{
	padding: 4em 0 1.5em;
}
#links p, #links ul li a h4{
	color: hsla(0, 0%, 100%, 0.5);
}
#links ul li a h4{
	padding-bottom: 6em;
	transition: color 600ms ease;
}
#direcciondecorreo{
    background-color: #26272e;
	width: 33%;
	display: grid;
}
.correoespecial{
	width: 33.5% !important;
}
#direcciondecorreo div{
	margin: 0 auto 0.5em;
}
#notificacion h5{
	opacity: 0.25;
}
#notificacion form input{
	border: 2px solid gray;
    transition: border 600ms ease;
	margin: 1.5em auto 0.5em;
	padding: 0.8em 1em;
}
#inputespecial{
	padding: 0.49em 1.4em 0.75em;
}
.ultimoboton, #notificacion form input:focus{
	border: 2px solid #faaf52;
}
.ultimoboton img, #inputespecial img{
	width: 0.7em;
	transform: translate(-7px, 3px);
}
.ultimoboton{
	width: 12%;
    padding: 0.5em 1.4em 0.75em;
    transform: translate(-5.4px, 0);
}
#formcontactme li button{
	margin-left: 0.3em
}
/*-----------------------------------------------------------------------------------------------------*/
#headerabout{
	z-index: 2;
}
#intro2{
	padding: 0 60em 0 1em;
}
/*MAIN*/
#sectiongeneral, #sectiongeneral2{
    padding-bottom: 8em;
	margin-top: 12vh;
	border-bottom: 2px solid #ddd;
}
#sectiongeneral2{
	padding-bottom: 0;
	margin-top: 20vh;
}
#div1, #div3{
	padding-left: 5em;
}
#div3 article{
	padding: 4em 0 0 1em;
}
#div2{
	width: 43%;
	background-image: url(../imagenes/chicaplanta.jpg);
}
#div2, #div4{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 30%;
	right: 0;
    z-index: 1;
}
#div4{
	height: 43em;
	background-image: url(../imagenes/maquinaescribir.jpg);
	background-position: 51% 30%;
}
#div4 ul{
	padding: 38em 0 0 32em;
}
#div1 article{
	text-align: inherit;
	padding: 2em 6em 2em 1em;
}
#div1 article h1, #div3 article h1{
    font-size: 44px;
    line-height: 52px;
}
#div1 article h3{
	margin: 0.45em 0.2em 0 0;
    float: left;
    font-size: 44px;
    line-height: 40px;
}
#textodeplantilla{
    border-bottom: 2px solid #ddd;
	padding-bottom: 4em;
}
#imagendelvideo{
    height: 7em;
    float: left;
}
#modal{
    background: rgba(0,0,0,0.9);
    z-index: 9999999;
    height: 100%;
}
#modal div{
    width: 61em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 3;
    box-shadow: 0 0 4em #000;
}
#modal a{
    right: 0;
}
#modal div iframe{
    height: 34em;
    padding-right: 2em;
    float: left;
}
#comentariosdelvideo{
	padding: 0em 0 5em 11em;
	border-bottom: 2px solid #ddd;
    transform: translate(0px, -3em);
}
#comentariosdelvideo div{
	width: 2em;
    height: 2em;
    transform: translate(-4.2em, 8em);
}
#play{
    transform: translate(9px, 4px);
}
#comentariosdelvideo h2{
	padding: 0.75em 0;
}
#botontexto{
	padding-left: 0.6em;
}
#botontexto a{
	padding: 1em 2em;
	margin: 0.4em;
    background: #fff;
    background: linear-gradient(to left, #fff 50%, #faaf52 50%) right;
    background-size: 200%;
}
#botontexto div{
    text-align: inherit;
    padding-left: 0.6em;
}
#footer1{
	transform: translate(0px, -2px);
}
#footer2{
	padding-top: 6em;
}
.articulosdelfooter{
    padding-bottom: 3em;
}
#navigation ul li{
    opacity: 0.7;
}
#about, #contacts{
	padding: 0 5em 0;
}
#navigation, #follow{
    padding-right: 3em;
}
.textosdecontacts, .textosdecontacts2, #email2{
    padding-left: 1em;
}
#contacts ul li{
	padding-bottom: 0.4em;
}
#navigation ul{
	margin: 0.4em 0 0;
}
#div4 ul li, #follow ul li{
	padding: 0.5em 0.7em;
	border: 1px solid #777;
	box-shadow: inset 0 0 0 0 #fff;
}
.iconosderedes{
	padding: 0.5em 0.9em !important;
}
#div4 ul li a img{
	width: 1em; 
	transform: translate(0px, 2px);
}
#links2 p{
	padding-left: 12.5%;
    color: #7c8499;
}
/*------------------------------------------------------------------------------------*/
#formcontactme{
	padding: 0 0 2em 0.5em;
}
#formcontactme ul div{
	padding: 2em 0 1em 0;
}
ul {
	list-style: none;
}  
#formcontactme ul div li{
	margin-top: 1em;
	padding-right: 1.16em;
}
#formcontactme ul div li input, #descripcion{
	padding: 0.8em 0;
	width: 250px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	font: 600 13px Oswald, sans-serif;
	color: #bfbebe;
}
#descripcion{
	width: 39.2em !important;
	resize: both;
	min-height: 2.81em;
}  
#formcontactme ul div li input:focus, #descripcion:focus{
	border-bottom: 1px solid #faaf52;
}
.buttoncontactme{
	transform: translate(0);
}
#imgcontactme{
	width: 12%;
	transform: translate(-7px, 0px);
}
/*------------------------------------------------------------------------------------*/
#articleblog{ 
	padding: 0 0 3em 6em;
}
#articleblog h1{
	padding-right: 18em; 
	font-size: 44px;
}
#articleblog nav{
	margin: auto;
}
.textoblog2 h3{
	border: 1px solid #fff;
	font-size: 9px;
	padding: 7px;
}
#divgrandeblog{
	transform: translate(0px, 2px);
}
.divblog{
	width: 33.33%;
	transform: scale(1, 1);
	overflow: hidden;
}
.divblog:hover img{
	transform: scale(1.05, 1.05);
}
.divtextoblog{
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	bottom: 0;
	padding: 4em 3em 4.5em;
}
.fechablog::after{
	content: '';
	height: 3px;
	width: 7%;
	top: 4.7em;
	background-color:#faaf52;
}
.divchicoimagenblog{
	height: 101vh;
}
/*-----------------------------------------------------------------------------------------------------*/
#hijoimagenwork{
	margin-right: 21.5em;
	text-align: left;
	justify-content: right;
}
#hijoimagenwork div{
	padding: 7em 0 0 6em;
}
#hijoimagenwork div p{
	padding: 0 6em 0 0;
}
#h1testimoniowork{
	padding-bottom: 3em; 
}
.textodetestimoniowork{
	color: hsla(0, 0%, 100%, 0.7) !important;
}
#textodetestimonio{
	width: 83%;
}
#testimonioswork{
	background-image: url(../imagenes/oficina_copia.jpg);
}
#comillaswork{
	width: 3.5%;
    margin: 9.5em 0 0 2em;
}
#imagencontactatework{
	padding-top: 8em;
}
/*TABLET*/
@media(max-width: 991px )and (min-width: 481px){
	/*MODO OSCURO*/
	body.oscuro #porcentaje article:first-child, body.oscuro #porcentaje article:nth-child(2){
		border-bottom: 2px solid #1f1f1f;
	}
	body.oscuro #circuloespecial{
		border-top: none;
	}
	#intro ul{
		display: flex;
	}
	#redessociales, #hireme, #informacion, #div4 ul, #comillaswork{
		display: none;
	}
	#testimonios, #divsdetestimoniowork article, #divsdetestimonio article, #ulcliente, #divgeneral, .ultimoboton img, #inputespecial img, #testimonioswork{
		display: block;
	}
	#intro ul, #serviciosprofesionales div p, #porcentaje, #exito, #informacion2, #portafolios, #portafolioswork, #portafolioswork article, #portafolios article, #divsdetestimonio, .divimagenesdetestimonio, #titulodepublicaciones, .publicacionessecundariasprimero, .publicacionessecundariassegundo, #links, #direcciondecorreo, #notificacion form, #div2, #modal a, #div4, #divsdetestimoniowork, .divchicoimagenblog img, .correoespecial, .divtextoblog{
		width: 100%;
	}
	#clave article img, #notificacion form input, .ultimoboton img, #inputespecial img{
		width: 35%;
	}	
	#divsdetestimoniowork article, #divsdetestimonio article, #botontexto div{
		text-align: center;
	}
	.fotografia, .diseno, .travel, .textoblog2 h3{
		font-size: 9px;
	}
	#tituloysubtitulo h3, #hijodecontactate div h4, #hijodecontactatework div h4, #links p{
		font-size: 12px !important;
	}
	#comentariosdelvideo h2, #comentariosdelvideo h3, .fechablog h3{
		font-size: 13px !important;
	}
	#serviciosprofesionales div p, #clave article p, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #botoncontactate, #links ul li a h4, #div1 article p, #formcontactme ul div li input, #descripcion{
		font-size: 15px !important;
	}
	#carruselprincipal article div h4, #carruselprincipal article div p, .bt01{
		font-size: 16px !important;
	}
	#porcentaje article h3, .extras, #textodetestimonio, #comentariosdelvideo h1{
		font-size: 17px !important;
	}
	#notificacion form input, #links ul li a h3, #contacts ul, #div4 ul li, #follow ul li, .iconosderedes{
		font-size: 20px;
	}
	#nombredetestimonio, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1, #direcciondecorreo div h2, .publicacionessecundariasprimero article div h1, .publicacionessecundariassegundo article div h1{
		font-size: 22px !important;
	}
	#clave article h1, #tituloysubtitulo h2, #hijoimagenwork div h1, #hijodecontactate div h1, #hijodecontactatework div h1, #titulo h1, #imagendelcliente div h1, #div1 article h1, #div1 article h1, #div3 article h1{
		font-size: 36px;
	}
	#serviciosprofesionales div h3, .ultimoboton img, #inputespecial img, #div1 article h2, #div1 article h3, #about p{
		line-height: 20px;
	}
	#serviciosprofesionales div h3, .ultimoboton img, #inputespecial img, #botontexto a{
		line-height: 24px;
	}
	#div1 article h1, #div3 article h1{
		line-height: 44px;
	}
	#carruselprincipal article div, #divdeportafolios, #textodetestimonio, .ultimoboton img, #inputespecial img, #titulo, #footer2{
		margin: 0 auto;
	}
	#portafolios article, #portafolioswork article, #div1, #comentariosdelvideo h2, #comentariosdelvideo h3{
		margin: 0;
	}
	#serviciosprofesionales div p, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #divsdetestimoniowork article, #divsdetestimonio article, .ultimoboton, #div1, #comentariosdelvideo h2, #comentariosdelvideo h3, #about, #div3{
		padding: 0;
	}
	#titulo, .imagenesdecliente{
		padding: 1em;
	}
	#carruselprincipal article div, #clave article h1{
		padding-top: 1em;
	}
	#footer2, #about, #contacts, #div3 article{
		padding-left: 1em;
	}
	#exito, #tituloysubtitulo h2, #textodetestimonio, #imagendelcliente div h1{
		padding-bottom: 1em;
	}
	header{
		height: 10.1vh;
	}
	img{
		width: 65%;
		height: auto;
	}	
	#divheader div{
		width: 9%;
		margin: inherit;
		padding: 1em 0 0 1em;
	}		
	#intro{
		padding: 0.95em 1.5em 0 0;
	}
	#intro2{
		padding: 0.95em 0 0 0;
	}
	.btn-btn-dark{
		margin: 0.5em 0 0 18em;
	}
	/*-------------------------------------------------------------------------*/
	#carruselprincipal{
		height: 70vh;
	}
	#carruselprincipal article{
		height: 60.9vh;
	}
	#carruselprincipal article div h1{
		font-size: 44px;
	}
	#carruselprincipal article div{
		width: 77%;
	}
	#carruselprincipal article div p{
		margin-bottom: 1em;
	}	
	#carruselprincipal article div p a{
		border-bottom: 1px solid #faaf52;
    	box-shadow: none;
	}
	#boton, #boton2{
		font-size: 14px;
	}
	#botonesdelcarrusel{
		transform: translate(0px, -6px);
	}
	#flechaespecial{
		transform: translate(5px, 0);
	}
	#serviciosprofesionales div{
		width: 28%;
	}
	#serviciosprofesionales div div{
		width: 50%;
	}
	#porcentaje{
		height: 100%;
		justify-content: inherit;
	}
	#porcentaje article{
		width: 49%;
		padding: 1.5em 0;
	}
	.numerosenporcentaje{
		width: 45%;
		height: 8em;
	}
	#porcentaje article div p{
		font-size: 28px;
	}
	#porcentaje article:first-child .numerosenporcentaje, #porcentaje article:nth-child(2) .numerosenporcentaje, #porcentaje article:nth-child(3) .numerosenporcentaje, #porcentaje article:nth-child(4) .numerosenporcentaje{
		font-size: 1.3em;
	}
	#porcentaje article:first-child, #porcentaje article:nth-child(2){
		border-bottom: 1px solid #fff;
	}
	#porcentaje article:first-child, #porcentaje article:nth-child(3){
		border-left: none;
	}
	#porcentaje article:nth-child(2), #porcentaje article:nth-child(4){
		border-left: 1px solid #fff;
	}
	#porcentaje article:first-child, #porcentaje article:nth-child(3){
		padding-left: 0.8em;
	}
	#clave{
		flex-wrap: wrap;
		padding-top: 4em;
	}
	#exito{
		height: 60.6vw;
	}
	#informacion2{
		display: initial;
	}
	#clave article p{
		line-height: 26px;
		width: 95%;
	}
	#divdeportafolios{
		width: 95%;
		height: 14em;
	}
	#divdeportafolios article{
		width: 33% !important;
	}
	#portafolios figure img, #portafolioswork figure img{
		height: 12em;
	}
	#portafolios figure figcaption:hover, #portafolioswork figure figcaption:hover{
		height: 67.5%;
		width: 97%;
		transform: translate(3px, -2px);
	}
	#portafolios h1, #portafolioswork h1{
		padding: 4.5em 0 0 0em;
	}
	#imagencontactate, #imagendelcliente, #imagenwork{
		height: 54vh;
		background-position-x: -17em;
		background-size: cover;
	}
	#div2, #div4{
		background-position-y: -12em;
	}
	#hijoimagenwork{
		width: 90%;
	}
	#hijodecontactate, #hijodecontactatework{
		width: 75%;
	}
	#botoncontactate{
		padding: 0.75em 1em;
	}
	#testimonios #titulo{
		margin: 2em auto 0;
	}
	#titulo{
		padding: 2em 1em;
	}
	#titulo h1{
		padding-bottom: 1.5em !important;
	}
	.divimagenesdetestimonio, .divimagenesdetestimoniowork{
		padding: 2em 0;
	}
	.divimagenesdetestimonio img, .divimagenesdetestimoniowork img{
		margin-top: 0.25em;
	}
	#nombredetestimonio{
		padding: 0.5em;
	}
	#textodetestimonio{
		width: 78%;
	}
	.imagenesdecliente{
		width: 22%;
	}
	#titulodepublicaciones{
		justify-content: inherit;
		padding: 5em 0;
	}	
	#titulodepublicaciones h1{
		padding: 0 11.3em 0 1.3em;
	}
	#divgeneral{
		width: 85%;
	}
	.publicacionesrecientes{
		height: 75em;
	}
	#viajeblog, #fotografiablog, #disenoblog{
		height: 60em;
	}
	.publicacionessecundariasprimero, .publicacionessecundariassegundo{
		margin: 0 2em 1.5em 2em;
	}
	.publicacionessecundariasprimero article div, .publicacionessecundariassegundo article div{
		padding-left: 18.5em;
	}
	.imagenesespeciales{
		width: 40% !important;
	}
	#footer1{
		flex-wrap: wrap-reverse;
	}
	#links{
		height: 38vh;
	}
	#direcciondecorreo{
		padding: 2em 0;
		height: 25vh;
	}
	.correoespecial{
		width: 100% !important;
	}
	#direcciondecorreo div{
		padding-left: 6%;
		width: 94%;
	}
	#direcciondecorreo div h2, #articleblog{
		padding-left: 2em;
	}
	#contacts ul li{
		padding-bottom: 0.5em;
	}
	.ultimoboton, #inputespecial{
		width: 7%;
    	height: 3em;
    	vertical-align: middle;
    	transform: translate(-5.4px, 0px);
	}
	#inputespecial{
		padding: 0 !important;
	}
	.ultimoboton img, #inputespecial img{
    	transform: translate(0);
	}
	/*-------------------------------------------------------------------------*/
	#sectiongeneral{
		padding-bottom: 5em;
    	align-items: center;
    	margin-top: 7vh;
    	flex-direction: column-reverse;
	}
	#sectiongeneral2{
		margin-top: 12vh;
		padding-bottom: 0;
	}
	#div2, #div4{
		position: inherit;
		height: 93vh;
	}
	#div4{
		height: 119.02vh;
	}
	#div1, #div3{
		width: 88%;
		text-align: justify;
	}
	#div1 article{
		text-align: inherit;
		padding: 1.5em 0 0 0;
	}
	#imagendelvideo{
		width: 10em;
		height: 7em;
	}
	#comentariosdelvideo{
		padding: 0 0 6em 11em;
		border-bottom: 2px solid #ddd;
		text-align: left;
	}
	#modal div{
		width: 90%;
    	top: 50%;
		left: 50%;
	}
	#modal div iframe{
		height: 24em !important;
	}
	#modal a{
		top: 6em !important;
		right: -45em !important;
		font-size: 1em !important;
	}
	#modal a img{
		width: 3%;
	}
	#comentariosdelvideo div{
		transform: translate(-3em, 8em);
	}
	#comentariosdelvideo h2, #comentariosdelvideo h3{
    	line-height: 20px;
	}
	#div1 article h1{
		text-align: left;
	}
	#botontexto{
		padding-top: 3em;
	}
	#formcontactme ul div li{
		padding-right: 1.5em;
	}
	#formcontactme ul div li input{
		width: 300px;
	}
	#descripcion{
		padding-bottom: 5.6em;
		width: 628px !important;
	}
	#formcontactme li button{
		margin-top: 2em !important;
	}
	#footer2{
		width: 90%;
		height: 74vh;
	}
	#about{
		text-align: inherit;
    	width: 60%;
	}
	#navigation{
		width: 40%;
    	padding: 0 8em 0 3em;
	}
	#about img{
		width: 55%;
		padding-bottom: 2em;
	}
	#contacts{
		width: 60%;
		padding: 0 0 2em;
	}
	#follow{
		width: 48%;
		padding-right: 4em;
	}
	.iconosderedes{
		padding: 0.3em 0.6em;
	}
	#links2 p{
		padding: 0;
	}
	#contacts ul li{
		padding-bottom: 0.5em;
	}
	/*--------------------------------------------------------------------------------------------------------*/
	#imagencontactatework{
		padding: 5em 0 2em;
	}
	#testimonioswork{
		height: 80vh;
	}
	/*--------------------------------------------------------------------------------------------------------*/	
	#articleblog h1{
		padding-right: 7em;
	}
	.divchicoimagenblog{
		height: 52vh;
	}
	.divtextoblog{
		padding: 2em;
	}
	.fechablog::after{
		top: 2.6em;
	}
	.textoblog2 h2{
		font-size: 24px;
		line-height: 32px;
	}
}
/*MOBILE*/
@media(max-width: 480px){
		/*MODO OSCURO*/
		body.oscuro #porcentaje article{
			border-top: 2px solid #1f1f1f;
		}
		body.oscuro #circuloespecial{
			border-top: none !important;
		}
		/*-----------------------------------------------------------------------------------------*/
		#divheader, #intro3 ul, #intro3 input, #informacion, #div4 ul{
			display: none;
		}
		.fotografia, .diseno, .travel, .textoblog2 h3{
			font-size: 9px;
		}
		#notificacion h5, #links ul li a h4, #links p{
			font-size: 11px;
		}
		#intro3, #intro3 ul li a, #tituloysubtitulo h3, #carruselprincipal article div h4, .parrafodeportafolio, #hijodecontactate div h4, #hijodecontactatework div h4, .publicacionessecundariasprimero article div p, .publicacionessecundariassegundo article div p, #fechablog h3{
			font-size: 13px !important;
		}
		#boton, #boton2, #serviciosprofesionales div p, #serviciosprofesionales div div, #clave article p, .extras, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #botoncontactate, #comentariosdelvideo h1, #links ul li a h3, #div1 article p, #comentariosdelvideo div h1, #navigation h1, #about h1, #contacts h1, #follow h1{
			font-size: 15px !important;
		}
		#carruselprincipal article div p, #porcentaje article h3, #textodetestimonio{
			font-size: 17px !important;
		}
		#nombredetestimonio, #contacts ul, #div4 ul li, #follow ul li, .iconosderedes, #direcciondecorreo div h2, #follow ul li a i, .iconosderedes a i{
			font-size: 20px;
		}
		#serviciosprofesionales h2, #porcentaje article div p, #clave article h1, #tituloysubtitulo h2, #hijoimagenwork div h1, #hijodecontactate div h1, #hijodecontactatework div h1, #imagendelcliente div h1{
			font-size: 30px !important;
		}
		#carruselprincipal article div h1, #div1 article h1, #hijoimagenwork div h1, #hijodecontactatework div h1{
			font-size: 36px;
		}
		img, #intro3, #intro3 ul, #serviciosprofesionales div, #serviciosprofesionales div div, #porcentaje article, #exito, #informacion2, #portafolios figure img,  #portafolioswork figure img, #portafolios, #portafolioswork, #portafolios article, #portafolioswork article, #hijodecontactate, #titulodepublicaciones, #divsdetestimonio, .divimagenesdetestimonio, #imagendelcliente a, .publicacionessecundariasprimero article, .publicacionessecundariassegundo article, .publicacionessecundariasprimero article img, .publicacionessecundariassegundo article img, .imagenesespeciales, #links, #direcciondecorreo, #notificacion form, #about, #contacts, #follow, #footer2, #modal div, #hijodecontactatework div p, #hijoimagenwork div p, #divsdetestimoniowork, #div2, #div4, .divblog{
			width: 100%;
		}
		#serviciosprofesionales div p, #clave, #divdeportafolios, #titulo, #textodetestimonio, #titulodepublicaciones, .publicacionessecundariasprimero, .publicacionessecundariassegundo, .publicacionessecundariasprimero article div, .publicacionessecundariassegundo article div, #divgeneral, #direcciondecorreo div, .articulosdelfooter, #hijodecontactate div p, #hijodecontactatework, #hijoimagenwork, .textoblog2{
			width: 90%;
		}
		#intro3, #intro3 ul, .btn-btn-dark{
			position: absolute;
		}
		#serviciosprofesionales div p, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #divsdetestimoniowork article,  #divsdetestimonio article, .publicacionessecundariasprimero article, .publicacionessecundariassegundo article{
			padding: 0;
		}
		#intro3 ul li, #portafolios article, #portafolioswork article, #hijodecontactate, #hijodecontactatework, .publicacionessecundariasprimero, .publicacionessecundariassegundo, #footer2{
			margin: 0;
		}
		#serviciosprofesionales div p, #divdeportafolios, #hijodecontactate div p, #hijodecontactatework div p, #hijoimagenwork div p, #textodetestimonio, #divgeneral{
			margin: 0 auto;
		}
		#carruselprincipal article, #botonesdelcarrusel, #clave article h1{
			padding-top: 1em;
		}
		#serviciosprofesionales div h3, #serviciosprofesionales div p, #exito, #tituloysubtitulo h2, .parrafodeportafolio, #titulo h1, #nombredetestimonio, #textodetestimonio, #titulo, .imagenesdecliente, #follow h1{
			padding-bottom: 1em;
		}
		#ulcliente, #divgeneral, #testimonios,  #divsdetestimonio article, #divsdetestimoniowork article, #divdeportafolios, #titulodepublicaciones, #formcontactme ul div li, .botonenviar, #testimonioswork, #articleblog, #intro3 ul li, #articleblog nav ul li, #intro3 input:checked  ~ ul{
			display: block;
		}
		#intro3 ul li, #divsdetestimoniowork article,  #divsdetestimonio article, #botontexto div{
			text-align: center;
		}
		header{
			height: 8vh;
			width: 101%;
		}
		#divheader2{
			display: flex;
			align-items: baseline;
			flex-direction: column;
		}
		#divheader2 div{
			width: 9%;
			padding: 0.5em 0 1em 0.5em;
		}
		.btn-btn-dark{
			top: 1em;
			right: 4em;
		}
		#intro3{
    		left: 29em;
    		bottom: auto;
    		top: 1.2em;
		}
		#intro3 ul{
    		left: -29em;
    		top: 3.37em;
		}
		#intro3 label{
			display: inline-block;
			width: 25px;
			height: 25px;
		}
		#intro3 ul li{
			padding: 1.25em;
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
		}
	/*------------------------------------------------------------------------------------------------------*/
	#carruselprincipal article{
		height: 85.6vh;
	}
	#carruselprincipal article div{
		width: 88%;
	}
	#carruselprincipal article div p a{
		border-bottom: 1px solid #faaf52;
    	box-shadow: none;
	}
	#botonesdelcarrusel div button img{
		width: 40%;
	}
	#serviciosprofesionales div{
		padding: 0 0 4em 0;
	}
	#serviciosprofesionales div div img{
		width: 8%;
	}
	#serviciosprofesionales div h3, .textoblog2 h2{
		font-size: 24px;
	}
	#porcentaje{
		height: 100%;
		background-size: 55em;
	}
	#porcentaje article{
		border-top: 1px solid #fff;
    	border-left: none;
		padding: 2em 0;
	}
	#porcentaje article:first-child .numerosenporcentaje, #porcentaje article:nth-child(2) .numerosenporcentaje, #porcentaje article:nth-child(3) .numerosenporcentaje, #porcentaje article:nth-child(4) .numerosenporcentaje{
		width: 40%;
		height: 23vh;
	}
	#circuloespecial{
		border-top: none;
	}
	#clave article img{
		width: 55%;
	}
	#clave{
		flex-wrap: wrap;
		margin: 4em auto;
	}
	#exito{
		height: 67vw;
	}
	#informacion2{
		display: initial;
	}
	#portafolios figure img, #portafolioswork figure img{
		height: 18em;
	}
	#portafolios article figcaption, #portafolioswork article figcaption{
		width: 88.5%;
    	height: 55vh;
    	margin-left: 2em;
	}
	#imagencontactate, #imagendelcliente, #imagenwork{
		background-attachment: inherit;
		background-position-x: -5em;
	}
	#imagencontactate, #imagendelcliente, #imagenwork{
		background-size: cover;
		height: 50vh;
	}
	#imagenwork{
		height: 40vh;
		background-size: 40em;
		background-position-y: -12vh;
	}
	#imagencontactate{
		margin-top: 52em;
	}
	#hijoimagenwork div h1, #hijodecontactate div h1, #hijodecontactatework div h1{
		padding: 0.5em 0;
	}
	#titulo{
		margin: 4em auto 0;
	}
	#titulo h1{
		font-size: 29px;
	}
	.divimagenesdetestimonio{
		padding: 0 0 1em 0 !important;
	}
	.divimagenesdetestimonio img, .divimagenesdetestimoniowork img{
		margin: 1.2em auto 0;
	}
	#imagendelcliente div h1{
		padding-bottom: 2em;
	}
	.imagenesdecliente{
		width: 34%;
	}
	.publicacionesrecientes{
		height: 86em;
	}
	#titulodepublicaciones{
		padding: 5em 0 2em 1em;
	}
	#titulodepublicaciones h1{
		padding-bottom: 0.5em;
	}
	.publicacionessecundariasprimero, .publicacionessecundariassegundo{
		padding:1em 1em 18em;
	}
	.publicacionessecundariassegundo{
		margin-top: 2em;
	}
	.publicacionessecundariasprimero article div{
		padding: 33em 0 0;
	}
	.publicacionessecundariassegundo article div{
		padding: 35em 0 0;
	}
	#sectiongeneral2 #viajeblog .publicacionessecundariassegundo, #sectiongeneral2 #fotografiablog .publicacionessecundariassegundo, #sectiongeneral2 #disenoblog .publicacionessecundariassegundo{
		padding: 1em 1em 17em;
	}
	#sectiongeneral2 #viajeblog .publicacionessecundariassegundo article div, #sectiongeneral2 #fotografiablog .publicacionessecundariassegundo article div, #sectiongeneral2 #disenoblog .publicacionessecundariassegundo article div{
		padding: 32em 0 0;
	}
	.imagenesespeciales{
		width: 100% !important;
	}
	#footer1{
		flex-wrap: wrap-reverse;
		padding-top: 40em;
	}
	#direcciondecorreo{
		padding: 2em 0;
		width: 100% !important;
	}
	#notificacion form input{
		width: 68%;
		padding: 0.9em 2em 0.9em 1em;
		font-size: 13px;
		transform: translate(0, 0.8px);
	}
	#direcciondecorreo div h2{
		padding-left: 1em;
	}
	#links p{
		padding-left: 2.3em;
	}
	#links ul li a h3{
		padding: 3em 0 1.5em;
	}
	#links ul li a h4{
		padding-bottom: 0;
	}
	#contacts ul li{
		padding-bottom: 0.5em;
	}
	#links ul{
		padding: 0 0 2em 1.5em;
	}
	#links ul li{
    	width: 49%;
	}
	.ultimoboton, #inputespecial{
		width: 7%;
    	height: 3.22em;
    	vertical-align: middle;
    	transform: translate(-5.4px, 0.55px);
	}
	#inputespecial{
		height: 3em;
	}
	#inputespecial img{
		width: 0.7em;
		transform: translate(-7px, 3px);
	}
	.ultimoboton img{
		width: 0.8em;
		transform: translate(-9px, 4px);
	}
	/*------------------------------------------------------------------------------------------------------*/
	#sectiongeneral, #sectiongeneral2{
		padding-bottom: 5em;
    	align-items: center;
    	margin-top: 8vh;
    	flex-direction: column-reverse;
	}
	#sectiongeneral2{
		margin-top: 10vh;
		padding-bottom: 0;
	}
	#sectiongeneral2 #viajeblog, #sectiongeneral2 #fotografiablog, #sectiongeneral2 #disenoblog{
		height: 110em;
	}
	#div2, #div4{
		position: inherit;
		height: 70vh;
	}
	#div1, #div3{
		position: relative;
		width: 88%;
		text-align: justify;
		padding: 0;
		margin: 0;
	}
	#div1 article{
	text-align: inherit;
	padding: 3em 0 0;
	} 
	#div1 article h1{
		text-align: left;
	}
	#h1video, #div1 article h2, #div1 article h3{
		line-height: 20px !important;
	}
	#imagendelvideo{
		width: 9em;
    	height: 6em;
	}
	#comentariosdelvideo{
		padding: 0.75em 0 0 10em;
    	border-bottom: 2px solid #ddd;
    	padding-bottom: 3.5em;
    	text-align: left;
	}
	#comentariosdelvideo div{
		transform: translate(-3em, 6.2em);
	}
	#comentariosdelvideo h1{
    	line-height: 20px;
	}
	#comentariosdelvideo h2{
    	color: #777;
    	font-size: 13px;
    	line-height: 20px;
	}
	#comentariosdelvideo h3{
		font-size: 13px;
    	line-height: 20px;
    	font-weight: 700;
	}
	#modal div{
    	top: 50%;
    	left: 50%;
	}
	#modal div iframe{/*aca*/
		height: 15em;
	}
	#modal a{
		width: 4%;
		right: 1em;
		font-size: 1em;
	}
	#botontexto{
		padding-top: 2em;
	}
	#footer2{
		padding-top: 4em;
	}
	.articulosdelfooter{
		flex-wrap: wrap;
		padding-left: 1em;
	}
	#about{
		text-align: inherit;
		padding: 0 3em 0 0;
	}
	#about img{
		width: 45%;
	}
	#contacts, #about img{
		padding: 0 0 2em;
	}
	#div4 ul li, #follow ul li{
		margin-left: 0.3em;
		padding: 0.3em 0.5em;
	}
	.iconosderedes{
		padding: 0.3em 0.7em !important;
	}
	#contacts ul li{
		padding-bottom: 0.5em;
	}
	/*-------------------------------------------------------------------------------------------*/
	#formcontactme ul div li input, #descripcion{
		width: 22em !important;
		resize: none;
		font: 400 15px Oswald, sans-serif;
	}
	#formcontactme ul div{
		padding: 0;
	}
	#formcontactme ul div li{
		height: 4em;
	}
	#formcontactme li button{
		width: 50%;
		margin: 1em 0 0 0.35em;
	}
	/*-------------------------------------------------------------------------------------------*/
	#testimonioswork{
		height: 39em;
	}
	#imagencontactatework{
		padding-top: 5em;
	}	
	#hijoimagenwork div{
		padding: 3.5em 0 0 1.5em;
	}
	#titulo{
		padding: 3em 0;
	}
	.divimagenesdetestimoniowork img{
		margin: 0 auto !important;
	}
	.footerespecial{
		padding-top: 0 !important;
	}
	/*-------------------------------------------------------------------------------------------*/
	#articleblog{
		padding: 0 0 3em 2em;
	}
	#articleblog h1{
		padding: 0 0 0.5em;
	}
	#articleblog nav ul li{
		padding: 0 0 1em;
	}
	.divchicoimagenblog{
		height: 86vh;
	}
	#inputespecial{
		height: 3.17em;
	}
	.footer3{
		padding-top: 0 !important;
	}
}